{% extends "main.html" %}
{% load static %}

<script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script defer src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
<script defer src={% static '/js/script2.js' %}></script>

{% block content %}




    <div class="container">
        <table id="credentials" class="table table-striped" style="width:100%">
        <br>
        <br>
            <h2>HCTrackIT User Credentials</h2>
            <br>
            <thead>
                <tr>
                    <th class="not_mapped_style" style="text-align:left">Department / User</th>
                    <th class="not_mapped_style" style="text-align:left">Username</th>
                    <th class="not_mapped_style" style="text-align:left">Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>356th District Court</td>
                    <td>356th.district</td>
                    <td>Hardin356th#5155</td>
                </tr>
                <tr>
                    <td>88th District Court</td>
                    <td>88th.district</td>
                    <td>Hardin88th#5151</td>
                </tr>
                <tr>
                    <td>Aaron Tupper</td>
                    <td>aaron.tupper</td>
                    <td>*********</td>
                </tr>
                <tr>
                    <td>Adult Probation</td>
                    <td>adult.probation</td>
                    <td>HardinAdult#5170</td>
                </tr>
                <tr>
                    <td>Corrections</td>
                    <td>corrections</td>
                    <td>HardinJail#5105</td>
                </tr>
                <tr>
                    <td>County Attorney</td>
                    <td>county.attorney</td>
                    <td>HardinCA#5165</td>
                </tr>
                <tr>
                    <td>County Auditor</td>
                    <td>county.auditor</td>
                    <td>HardinAuditor#5130</td>
                </tr>
                <tr>
                    <td>County Clerk</td>
                    <td>county.clerk</td>
                    <td>HardinCC#5185</td>
                </tr>
                <tr>
                    <td>County Commissioner - Precinct 1</td>
                    <td>cc.pct1</td>
                    <td>HardinCC#5501</td>
                </tr>
                <tr>
                    <td>County Commissioner - Precinct 2</td>
                    <td>cc.pct2</td>
                    <td>HardinCC#3972</td>
                </tr>
                <tr>
                    <td>County Commissioner - Precinct 3</td>
                    <td>cc.pct3</td>
                    <td>HardinCC#5411</td>
                </tr>
                <tr>
                    <td>County Commissioner - Precinct 4</td>
                    <td>cc.pct4</td>
                    <td>HardinCC#4584</td>
                </tr>
                <tr>
                    <td>County Judge</td>
                    <td>county.judge</td>
                    <td>HardinCJ#5120</td>
                </tr>
                <tr>
                    <td>County Treasurer</td>
                    <td>county.treasurer</td>
                    <td>HardinTreasurer#5121</td>
                </tr>
                <tr>
                    <td>Crime Victims Assistance</td>
                    <td>crime.victims</td>
                    <td>HardinCVA#4300</td>
                </tr>
                <tr>
                    <td>District Attorney</td>
                    <td>district.attorney</td>
                    <td>HardinDA#5160</td>
                </tr>
                <tr>
                    <td>District Clerk</td>
                    <td>district.clerk</td>
                    <td>HardinDC#5150</td>
                </tr>
                <tr>
                    <td>Elections</td>
                    <td>elections</td>
                    <td>HardinElect#5445</td>
                </tr>
                <tr>
                    <td>Ethan Barnett</td>
                    <td>ethan.barnett</td>
                    <td>*********</td>
                </tr>
                <tr>
                    <td>Floodplain Administration</td>
                    <td>floodplain.admin</td>
                    <td>HardinFPA#5251</td>
                </tr>
                <tr>
                    <td>Health Services</td>
                    <td>health.services</td>
                    <td>HardinHealth#5188</td>
                </tr>
                <tr>
                    <td>Human Resources</td>
                    <td>human.resources</td>
                    <td>HardinHR#5164</td>
                </tr>
                <tr>
                    <td>Judge Wayne McDaniel</td>
                    <td>wayne.mcdaniel</td>
                    <td>*********</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 1</td>
                    <td>jp.pct1</td>
                    <td>HardinJP1#3740</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 2</td>
                    <td>jp.pct2</td>
                    <td>HardinJP2#2195</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 3</td>
                    <td>jp.pct3</td>
                    <td>HardinJP3#5115</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 4</td>
                    <td>jp.pct4</td>
                    <td>HardinJP4#3211</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 5</td>
                    <td>jp.pct5</td>
                    <td>HardinJP5#2862</td>
                </tr>
                <tr>
                    <td>Justice of the Peace - Precint 6</td>
                    <td>jp.pct6</td>
                    <td>HardinJP6#8271</td>
                </tr>
                <tr>
                    <td>Juvenile Probation</td>
                    <td>juvenile.probation</td>
                    <td>HardinJuvenile#5175</td>
                </tr>
                <tr>
                    <td>Michael McConaghy</td>
                    <td>michael.mcconaghy</td>
                    <td>*********</td>
                </tr>
                <tr>
                    <td>Purchasing</td>
                    <td>purchasing</td>
                    <td>HardinPurchase#5123</td>
                </tr>
                <tr>
                    <td>Sheriff's Office</td>
                    <td>sheriffs.office</td>
                    <td>HardinSO#3441</td>
                </tr>
                <tr>
                    <td>Tax Office</td>
                    <td>tax.office</td>
                    <td>HardinTO#5180</td>
                </tr>
                <tr>
                    <td>Wayne Mouille</td>
                    <td>wayne.mouille</td>
                    <td>*********</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
    </div>


{% endblock content %}