{% extends "main.html" %}
{% load static %}


{% block content %}

<br>
<br>
<div class="card-group justify-content-center">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-center">Open Service Requests</h6>
        <p class="card-text text-center" style="font-size: 25px; color: blue;"><strong>{{ open_ticket_count }}</strong></p>
      </div>
    </div>
    <br/>&nbsp;&nbsp;&nbsp;
    <div class="card border-danger mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-center">On Hold Service Requests</h6>
        <p class="card-text text-center" style="font-size: 25px; color: red;"><strong>{{ onhold_ticket_count }}</strong></p>
      </div>
    </div>
    <br/>&nbsp;&nbsp;&nbsp;
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-center">Completed Service Requests</h6>
        <p class="card-text text-center" style="font-size: 25px; color: green;"><strong>{{ completed_ticket_count }}</strong></p>
      </div>
    </div>
  </div>



{% endblock content %}